.text-box {
    text-align: left;
}

.mandatory {
    margin-left: 2px;
    color: red;
}

.text-box-input {
    height: 30px;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: none;
    font-size: 13px;
    padding-left: 5px;
    caret-color: grey;
}

.text-box-input:focus {
    outline: none;
}

.text-box-error {
    font-size: 12px;
    color: red;
}